<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= locals.pageTitle %> | <%= locals.appTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <h2>my drive</h2>
      <%- include("partials/forms/create-folder") %>
    </main>
  </body>
</html>
