<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= locals.appTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <div class="top-spacing-xl column align-center gap">
        <h2>Welcome!</h2>
        <div>
          <p>Please login or register an account</p>
        </div>
        <div class="row align-center gap-s">
          <a href="/login"><button>Login</button></a>
          <a href="/register"><button>Register</button></a>
        </div>
      </div>
    </main>
  </body>
</html>
