<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/eventListeners.js" defer></script>
    <title>Login | <%= locals.appTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <%- include("partials/forms/register") %>
    </main>
  </body>
</html>
