@import url("./reset.css");

:root {
  --primary-color: black;
  --secondary-color: white;
  --primary-bg: rgb(149, 192, 255);
  --secondary-bg: rgb(199, 222, 255);

  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing: 1rem;
  --spacing-l: 2rem;
  --spacing-xl: 5rem;

  --child-lines-max-width: 40rem;

  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;

  /* debugging */
  * {
    /* outline: red solid 1px; */
  }
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--primary-bg);

  min-width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary-bg);

  position: sticky;
  top: 0;

  padding: 0 var(--spacing);

  nav {
    display: flex;
    gap: var(--spacing-s);

    #header-user-logout {
      display: flex;
      gap: var(--spacing-xs);

      #header-logout {
        display: flex;
        align-items: center;

        min-width: max-content;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;

  padding: 0 var(--spacing);
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: start;

  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;

  .modal {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    position: relative;

    margin-top: calc(0.25 * 100vh);
    padding: var(--spacing-l);

    width: min(30rem, calc(100vw - 2rem));

    background-color: var(--secondary-bg);

    .modal-close {
      margin: var(--spacing-s);

      position: absolute;
      top: 0;
      right: 0;
    }

    .error-list {
      margin-left: var(--spacing-l);
    }

    form {
      justify-self: center;
    }
  }
}

.child-lines {
  max-width: var(--child-lines-max-width);
  width: var(--child-lines-max-width);
  width: 100%;

  .child-line {
    border-radius: 1rem;

    position: relative;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%; /* Center the line */
      transform: translateX(-50%); /* Perfectly balance the centering */

      width: 95%; /* Change this percentage to change the border length */
      height: 1px; /* This acts as your border thickness */
      background-color: rgba(
        0,
        0,
        0,
        0.25
      ); /* This acts as your border color */
    }

    &:hover {
      background-color: lightblue;
    }

    &:last-child {
      border: none;
    }
  }
}

.main-sections {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);

  padding: var(--spacing);

  max-width: calc(100vw - 2rem);
  min-width: 22rem;
  width: 40rem;

  border-radius: 1rem;

  background-color: var(--secondary-bg);
}

.button-style {
  background-color: var(--primary-bg);

  padding: 0 var(--spacing);

  border: 1px solid var(--primary-color);
  border-radius: 1rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--secondary-bg);
  }
}

.button-style-2 {
  background-color: var(--secondary-bg);

  padding: 0 var(--spacing);

  border: 1px solid var(--primary-color);
  border-radius: 1rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--primary-bg);
  }
}

input:not([type="file"]) {
  padding: 0.125rem 0.75rem;

  border: none;
  outline: none;
  border-radius: 1rem;

  &:hover:not(:focus) {
    outline: 1px solid gray;
  }
}

input[type="file"] {
  border: none;
  outline: none;
}

.cut-width {
  max-width: calc(var(--child-lines-max-width) - 10rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cut-width-small {
  max-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ========================================================================== */
/* Classes */
/* ========================================================================== */

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.just-space-between {
  justify-content: space-between;
}

.top-spacing {
  margin-top: var(--spacing);
}
.top-spacing-l {
  margin-top: var(--spacing-l);
}

.top-spacing-xl {
  margin-top: var(--spacing-xl);
}

.gap {
  gap: var(--spacing);
}

.gap-s {
  gap: var(--spacing-s);
}

.gap-xs {
  gap: var(--spacing-xs);
}

.primary-color {
  color: var(--primary-color);
}

.padding-top-s {
  padding-top: var(--spacing-s);
}

.padding-bottom-s {
  padding-bottom: var(--spacing-s);
}

.padding-left {
  padding-left: var(--spacing);
}

.padding-right {
  padding-right: var(--spacing);
}

.no-button-style {
  background: none;
  border: none;
}

.hover-white {
  &:hover {
    color: var(--secondary-color);
  }
}

.no-shrink {
  width: max-content;
}

.wrap {
  max-width: 100%;
  flex-wrap: wrap;
}

/* ========================================================================== */
/* Special Classes */
/* ========================================================================== */

.hide-link-style {
  appearance: none;
  color: inherit;
  text-decoration: none;
}

.link-style {
  background: none;
  border: none;
  padding: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}

.show-clickable {
  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none !important;
}

.underline-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.lucide {
  &:hover {
    color: var(--secondary-color);
  }
}

/* ========================================================================== */
/* Mobile */
/* ========================================================================== */

@media (max-width: 768px) {
  header {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    position: sticky;
    top: 0;

    nav {
      display: flex;
      gap: var(--spacing-s);

      #header-user-logout {
        display: flex;
        gap: var(--spacing-xs);

        #header-logout {
          display: flex;
          align-items: center;

          min-width: max-content;
        }
      }
    }
  }

  #current-path,
  #share-link {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xs);
  }
}

@media (max-width: 630px) {
  :root {
    --child-lines-max-width: max(20rem, calc(100vw - 1rem));
  }
}
