<form
  action="/drive/folder/<%= locals.folderId %>/add-file"
  method="post"
  enctype="multipart/form-data"
>
  <h2>Add File</h2>
  <%- include("../errors") %>
  <input type="file" name="uploadFiles" multiple required />
  <button type="submit">Add file</button>
</form>
