<form action="/drive/<%= locals.folderId %>/folder/create" method="post">
  <h2>Create folder</h2>
  <label for="folderName"
    >Folder name: <input type="text" name="folderName" id="folderName" required
  /></label>
  <button type="submit">Create</button>
</form>
