<!-- if click edit btn, action set in js. If popup persist on error, set action here -->
<% const formAction = locals.modalFolderId ? `/drive/${locals.modalFolderId}/folder/edit` : "" %>
<form action="<%= formAction %>" method="post" id="edit-folder-form">
  <h2>Edit folder</h2>
  <%- include("../errors") %>
  <label for="folderName">
    <!-- value set in js -->
    Folder name:
    <input
      type="text"
      name="folderName"
      id="folderName"
      placeholder="Name your folder..."
      value="<%= locals.modalValues?.folderName || '' %>"
      required
  /></label>
  <!-- for redirection to same page -->
  <input
    type="text"
    name="currentFolderId"
    value="<%= locals.folderId %>"
    hidden
  />
  <button type="submit">Edit</button>
</form>
