<!-- action set in js -->
<form action="" method="post">
  <h2>Edit folder</h2>
  <label for="folderName">
    <!-- value set in js -->
    Folder name:
    <input
      type="text"
      name="folderName"
      id="folderName"
      placeholder="Name your folder..."
      value=""
      required
  /></label>
  <button type="submit">Edit</button>
</form>
