<form action="/register" method="post">
  <h2>Create an Account</h2>
  <%- include("../errors") %>
  <label for="username"
    >Username<input
      type="text"
      name="username"
      id="username"
      value="<%= locals.values?.username %>"
      required
  /></label>
  <label for="password">
    <div>
      Password
      <span id="show-password-button" class="unselectable show-clickable"
        >Show</span
      >
    </div>
    <div class="password-input-line">
      <input
        type="password"
        name="password"
        id="password"
        value="<%= locals.values?.password %>"
        required
      />
    </div>
  </label>
  <label for="confirm-password">
    Confirm password
    <div class="password-input-line">
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        value="<%= locals.values?.['confirm-password'] %>"
        required
      />
    </div>
  </label>
  <div class="buttons">
    <button type="submit">Submit</button>
    <button id="demo-password-button">Fill Demo Password</button>
  </div>
</form>
