<form
  action="/register"
  method="post"
  class="top-spacing-xl column align-center gap"
>
  <h2>Create an Account</h2>
  <%- include("../errors") %>
  <label for="username" class="column"
    >Username<input
      type="text"
      name="username"
      id="username"
      value="<%= locals.values?.username %>"
      required
  /></label>
  <label for="password">
    <div class="row just-space-between">
      Password
      <span id="show-password-button" class="unselectable show-clickable"
        >Show</span
      >
    </div>
    <input
      type="password"
      name="password"
      id="password"
      value="<%= locals.values?.password %>"
      required
    />
  </label>
  <label for="confirm-password" class="column">
    Confirm password
    <div class="password-input-line">
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        value="<%= locals.values?.['confirm-password'] %>"
        required
      />
    </div>
  </label>
  <div class="column align-center gap-s">
    <button type="submit">Submit</button>
    <button id="demo-password-button">Fill Demo Password</button>
  </div>
</form>
